body {
  font-family: 'Open Sans', sans-serif;
  color: gray;

}
.container {
  width: 90%;
  margin:  10vh auto;
/*border: 1px green solid;*/
}

h1,
h2,
.nav-titles {
  font-weight: 300;
  /*Maybe add the margin-left to here, depending on how we see fit*/
}

h1 {
  margin: 0;
  padding: 0  5px 7px 0;
  border-bottom: 1px gray solid;
  display: inline-block;
}
h2 {
  font-size: 14pt;
  padding: 0;
  margin: 10px 0 20px;
}

nav {
  margin-left: -40px;
}

li {
  display: block;
  height: 15vh;
  /*border: 1px brown solid;*/
  padding: 0;
  background-size: cover;
  color: white;
  list-style: none;
  text-indent: 0;
  width: 100%;
  position: relative;
  font-weight: 400;
}

.nav-titles {
  left: 30px;
  position: absolute;
  margin-top: 20px;
}
.yoga {
  background-image: url(/01_images/nav-yoga.jpg);
}

.meditation {
  background-image: url(01_images/nav-meditation.jpg);
}

.kids-yoga {
  background-image: url(01_images/nav-kids.jpg);
}

.about {
  background-image: url(01_images/nav-about.jpg);
}

@media (min-width: 650px) {
.container {
  width: 80%;

}


  ul{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content:flex-start;
    height: 450px;

  }

  li {
    height: 100%;
    margin: auto;
  }

.nav-titles{
    bottom: 30px;
  }



}
